[2014-06-26 13:02] mattab opened #1 "documentation for plugin"
Hello Martin!

Thanks for publishing your plugin on the marketplace.

To put a documentation on your plugin page, simply put a README.md file with a particular format.

See the documentation here: http://developer.piwik.org/guides/distributing-your-plugin#getting-your-plugin-ready-to-publish

if you have any question let us know, we will be happy to help

[2014-06-30 01:08] #1 closed, assigned to nobody

[2014-07-02 08:32] andreystrelkov opened #2 "Which method of geolocation need?"
Hello, please tell me your module to work - needs to be activated GeoIP (PHP) or sufficient method by default?

[2014-07-08 07:49] #2 closed, assigned to nobody

[2014-07-11 09:07] zhicwu opened #3 "PHP 5.3 compatibility"
Could you make this plugin PHP 5.3 compatible?

[2014-07-11 11:00] #3 closed, assigned to nobody

[2014-07-15 14:23] lg3001 opened #4 "Send unmatched IPs to normal geolocation?"
On our sites, we have both visitors that come from intranet IPs (10.*) and regular internet.

It would be nice if we could use this plugin as a pre-filter to geolocate IP addresses that are in our intranet range, and let all other IPs (that are not matched by this plugin) be geolocated by the default geolocation function of Piwik.

Is that possible to implement?

Thanks!!

[2014-07-17 15:41] #4 closed, assigned to nobody

[2014-07-17 20:42] lg3001 opened #5 "Updating the plugin deletes data.php file"
When we update a plugin from the marketplace, the plugin directory is completely deleted and replaced by the new version. Updating this plugin deletes the data.php file!

It would be nice to place the plugin configuration elsewhere,  so we don't lose it when updating.

A section in the config.ini.php file might be a good place, or a textarea in the "plugin settings" page (in admin's settings menu)

[2014-07-22 17:39] AlexRouk opened #6 "How to edit IP list"
Hi, TD.
I've downloaded your plugin but i can't find a way to add my own IPs.
For example, i'm not sure what does it mean 'piwik/plugins/IntranetGeoIp/data.php'. Any attempt of mine didn't

I'm not sure how to accomplish the next step either: how to make Piwik to show the map based on your plugin.

Please F1 (help)..

Thanks

[2014-07-23 06:25] #6 closed, assigned to nobody

[2014-07-28 07:05] #5 closed, assigned to nobody

[2014-08-06 16:20] grzchr15 opened #7 "Importing IP-Ranges from Database or Converting it to a suitable Pluginformat"
We run a website that is public accessible from Internet and Intranet.
So the IPs we see are from both areas.
Public IPs get geolocation from maxmind.com
Private IPs ( we are talking from ~600 Ranges in +50 countries and +300 location are store currently in a database from our networking guys.
Do you see something that a csv importer or similar could close the gap?

[2014-08-25 11:41] Keithsc opened #8 "A Couple of Q's"
Hi, This is a great plugin so thank you :>)  We have a both our intranet and internet logging in to the same piwik installation, so untill we installed your plugin we couldn't differenciate traffic from either network. We can now :>)

I had to comment out the 'noMatch' / 'unknown' in IntranetGeoIP.data.php as with it enabled we did't collect Internet stats.

The main IP Subnet we use is 10.240.0.0

[2014-09-10 13:50] bigzachattack opened #9 "How do I update accurate geolocation data for old visitors?"
I would like to know the location of the visitors before I installed IntranetGeoIP plugin.  I know there is a script that exists for GeoIP.  Will that script work?

Thanks for your work creating this plugin,
Zach

[2014-12-15 15:51] #8 closed, assigned to nobody

[2015-01-28 09:42] ThaDafinser opened #10 "Piwik minimum version"
@tsteur I've updated my plugin to the new Piwik\Network\IP instead of the old Piwik\IP and published a new release.
I've updated the Piwik requirement as well to the minimum PIwik version needed for this.
https://github.com/ThaDafinser/IntranetGeoIP/blob/master/plugin.json

People who already have this plugin: Can it happen that they get the new release over a plugin update,  although it wont work

[2015-01-28 19:40] tsteur commented on #10
Nope, they shouldn't get the update. They will see an information that they need to upgrade in order to install it.

[2015-01-29 07:10] ThaDafinser commented on #10
Thank you!

[2015-01-29 07:10] #10 closed

[2015-02-24 18:32] cam2 opened #11 "Apply IntranetGeoIP before anonymizing IP address"
I have noticed that if I turn on anonymizing of IP addresses, the IntranetGeoIP plugin uses the anonymized IP to return GeoIP information.  I'm trying to do a fairly detailed layout of internal networks, so I get inaccurate information.  If I turn off IP anonymize, it works as expected.  Is there a way to do the IntranetGeoIP resolution before anonymizing the IP?

[2015-02-25 07:42] ThaDafinser commented on #11
@cam2 good question,but i think that is not possible as a plugin.
Or at least it should not be possible .....otherwise the anonymisation is nothing worth?! //cc @mattab

The plugin uses this event:
https://developer.piwik.org/api-reference/events#trackernewvisitorinformation

And then this field which like written in the docs can be anonymized:
`location_ip: the IP address of the computer that the

[2015-02-25 07:43] #7 closed

[2015-02-26 03:31] mattab commented on #11
In the UserCountry plugin the code that fetches the IP to geo locate has the following logic:
[code]

Therefore it's OK to use the RAW IP when the user has selected, in privacy settings, ` Also use the Anonymized IP addresses when enriching visits. ` to `NO`

So I think this issue could be reopened :+1:

[2015-04-01 06:09] ThaDafinser opened #12 "Not IP based localization"
from @andreystrelkov
Hello Martin
As I understand your module can make it so that I am entering a range of IP addresses can point him to any country, region and city, this range is, ie, create your base IP locations, which will Pivik

If so, is it possible to make the source of the not IP address, and a user variable, as we have special grouping gn addresses for units, but if you could specify tha

[2015-04-01 06:12] ThaDafinser commented on #12
@andreystrelkov changing it in this plugin doesnt make sense imo.
You can take this plugin as a basis and write your own for this purpose if you want.

I think changing the world map  will be difficult if you make progress here, please take me updated :-)

[2015-04-24 06:52] #12 closed

[2015-06-17 14:15] junctionapps opened #13 "Any particular Location Provider necessary?"
I've installed and activated IntranetGeoIP, configured the the IntranetGeoIP.data.php file correctly I believe (attempting to match 10.10.55.20 with
 'networks' => [
            '10.10.0.0/16'
        ]
but not seeing the results I'm expecting; still getting 'unknown' instead of what I put in VisitorInfo.

I was using the default Location Provider in the GeoLocation settings, then switched to GeoI

[2015-06-17 14:22] junctionapps commented on #13
didn't realize there were some closed issues. I see there is no such requirement for location provider. I must have a mismatch somewhere.

[2015-06-17 14:43] junctionapps commented on #13
I had incorrectly escaped a city's name which had an apostrophe. What would be the appropriate way to escape that?
'location_city' => 'Saint John''s',   //did not work

[2015-06-18 06:03] ThaDafinser commented on #13
@junctionapps it's just a PHP array.

[code]

[2015-06-18 15:06] junctionapps commented on #13
Perfect; thank you. Went with the \'
Creating a segment in Piwik like "City Is Saint John's" is another issue (I've posted on Piwik forums). The quote is replaced with a right parenthesis after 'Save & Apply'.

[2015-06-18 15:06] #13 closed

[2015-06-19 06:15] ThaDafinser commented on #13
Good to hear :+1:

[2015-07-13 10:37] ThaDafinser commented on #9
@bigzachattack i currently change the plugin to be a "normal" Geolocation plugin (by extending `Piwik\Plugins\UserCountry\LocationProvider`), so that you can activate/test it under `Settings -> Geolocation`

The benefit would be that you can use the standard console command, which will work than also with this plugin http://piwik.org/faq/how-to/faq_167/

But the IP will then be already "anonymized

[2015-07-13 10:59] ThaDafinser commented on #11
Fixed with latest release https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases/tag/2.2.0

[2015-07-13 10:59] #11 closed

[2015-08-12 14:18] Gyurltrini opened #15 "piwik intranetgeoip and multiple networks / locations"
Hi,
So I've been trying to use piwik on an intranet / extranet mixed environment (with multiple networks and physical locations) using your plugin. However, there are a couple of things I'm noticing:
1. there are a number of "Provider: Unknown" and location unknown, although I put all of the locations and providers & ip address ranges into the script (my feeling is with so many blocks of known vis

[2015-08-24 13:34] ThaDafinser commented on #15
Please double check the logged IP address with your ranges. Are they really inside the range?

This is default piwik behaviour. Please check the setting `enable_language_to_country_guess`

I think this is not a problem of the plugin. Please check what IP address is logged in Piwik, if it's the gateway, maybe you need to make some configurations somewhere...but i don't know that tbh.

[2015-09-12 03:54] #9 closed

[2015-09-17 14:08] jagdish-nasit opened #16 "Plugin stopped working with 2.15.0-b1"
I have upgraded PIWIK to 2.15.0-b1 as there was fix released for Scheduled report. However, IntranetGeoIP plugin stopped working. After checking PHP log, its giving below error. Could you please help in resolving it.

[26-Aug-2015 09:35:34 UTC] PHP Warning: Parameter 1 to Piwik\Plugins\IntranetGeoIP\IntranetGeoIP::logIntranetSubNetworkInfo() expected to be a reference, value given in C:\piwik\core

[2015-09-22 06:27] ThaDafinser commented on #16
@jagdish-nasit i havent checked the 2.15 tags until yet.

But it seems the current used method is deprecated
https://developer.piwik.org/api-reference/events#trackernewvisitorinformation
http://developer.piwik.org/guides/dimensions

I will try to look into it asap, until the release you have to downgrade or create a fix for it.

[2015-09-22 06:41] ThaDafinser commented on #16
@jagdish-nasit please upgrade to the latest beta, there it should be fixed
https://github.com/piwik/piwik/blob/2.15.0-b1/core/Tracker/Visit.php#L274
https://github.com/piwik/piwik/blob/2.15.0-b8/core/Tracker/Visit.php#L283

[2015-09-22 06:41] #16 closed

[2015-09-22 06:44] jagdish-nasit commented on #16
Sure, let me upgrade and revert back.

[2015-09-22 07:54] ThaDafinser commented on #16
@jagdish-nasit please read the the 2nd comment. Its solved in the latest beta of 2.15...

Was not an issue of this plugin

[2015-09-24 13:19] jagdish-nasit commented on #16
@ThaDafinser I have upgraded to the latest version and its working fine now.

Thanks for helping !!!

[2015-10-14 13:22] filhocf opened #17 "Debugging the plugin"
Hi

I have a large intranet and did all modification as explained in readme.md, but i haven't this plugin running. The max that i found in the Apache log error was:

[code]
Some suggestion?

[2015-10-14 13:55] ThaDafinser commented on #17
@filhocf my tip is, that your data file is wrong.

But please replace this file, with this one: https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/ThaDafinser-patch-1/IntranetGeoIP.php

And post the result here (it should be an array)

[2015-10-15 12:35] ThaDafinser commented on #17
@filhocf feedback?

[2015-10-15 12:36] ThaDafinser commented on #15
no feedback. Closing as question.

[2015-10-15 12:36] #15 closed

[2015-10-15 13:14] filhocf commented on #17
Sorry by my delay, but i think that i'm doing some mistake.

I revised my IntranetGeoIP.data.php and can't find a error there.

And in the /var/log/apache2/error.log haven't more problem.

Is necessary run some script to get a result in the map?

2015-10-15 9:35 GMT-03:00 Martin Keckeis <notifications@github.com>:

[2015-10-15 13:23] ThaDafinser commented on #17
@filhocf du you used the file i posted? Then piwik should log the error (depending on your settings).

Alternative for debugging is doing `var_dump()` directly and activate debug modus.

See those FAQs
http://piwik.org/faq/troubleshooting/faq_115/
http://developer.piwik.org/api-reference/tracking-api#debugging-the-tracker

When i have time i may create a testpage for this.

[2016-01-11 22:42] RMastop opened #19 "processing historic data"
Hi @ThaDafinser,

Would it be possible to process historic data using the plugin?
If so, how would one execute this?

[2016-01-12 07:45] ThaDafinser commented on #19
@RMastop sadly currently not. I'm also not working on it.

This plugin would need a refactor to a plugin ( i worked on it once here https://github.com/ThaDafinser/Piwik-IntranetGeoIP/pull/14)

Then reprocessing would work.

[2016-01-12 08:28] RMastop commented on #19
Thanks @ThaDafinser,

Am I correct in thinking that Piwik UserCountry plugin needs to be changes to enable this, or is it that this plugin needs to be changed in a way that it can handle it?

[2016-01-12 10:03] ThaDafinser commented on #19
This plugin here would need a change for it.
But i'm not happy with the builtin plugin in piwik currently. (see comments in PR #14 )

I started once to create a complete new general GeoIp plugin which covers all...but was more work then expected :disappointed:

[2016-02-19 14:30] Forsskieken commented on #17
Hi There,

I think somethings has changed for Piwik 2.16 as I don't get it working.
First I downloaded the GeoIP (Php) and copied the file over to my website. There I renamed it to C:\inetpub\wwwroot\piwik\misc\GeoIPCity.dat

I then copied over the IntranetGeoIp plugin to the plugins section.
Both plugins are enabeled

I also enabeld the logging (debug) in the config.ini.php.

[piwik.zip](https://

[2016-02-19 14:54] ThaDafinser commented on #17
Do you wanna track internet or intranet sites

[2016-02-20 11:39] Forsskieken commented on #17
Hi There,

I want to track Intranet sites...
I adapted the example data in such a way that whenever I do something on
the monitored site, I should see a special adress for me.

Thanks for reacting

2016-02-19 15:54 GMT+01:00 Martin Keckeis <notifications@github.com>:

[2016-02-22 13:22] Forsskieken commented on #17
Hi,

It seems that I found a solution..
I forgot to mention I was working with Windows  where you need to add php support but also download the [php_geoip.dll](http://windows.php.net/downloads/pecl/releases/geoip/1.0.8/) and put it in the c:/php/ext dll and of course adapt the php.ini file add the following "extension=c:\php\ext\php_geoip.dll"

Thanks for reading
Guy Forssman

[2016-02-22 13:43] ThaDafinser commented on #17
@Forsskieken for this plugin you dont need the GeoIp extension.

Just a correct `IntranetGeoIP.data.php` inside the `config` folder.

[2016-03-30 06:43] Gamesh opened #20 "Configuration UI interface"
Would be nice if you could configure the plugin through Piwik UI, not in php file.

the UI then could write the configuration to DB or store it as php/yml file, for all of us lazy people :)

[2016-03-30 08:00] ThaDafinser commented on #20
Generally :+1:

But in the next time i wont have time to code such a GUI.
I have personally also no need for it, since the IP range in a company is pretty "static" and you write it only once.

Maybe you want to pick this up?

[2016-03-30 09:52] Gamesh commented on #20
understook, maybe i'll look into it this weekend

On Wed, Mar 30, 2016 at 11:00 AM, Martin Keckeis <notifications@github.com>
wrote:

--
Justinas

[2016-04-15 07:01] falkh opened #21 "Piwik 2.16.1 no location_provider in piwik_log_visit"
Hi,
I installed piwik yesterday and then this plugin and couldn't get it to work.
Then I saw in the apache error log this message.
Error in Piwik (tracker): Error query: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'location_provider' in 'field list' In query: INSERT INTO piwik_log_visit (...

I also have just:
Visitor -> Realtime visitor map
and this one is not in the dashboard list:
Vi

[2016-04-17 11:49] ThaDafinser commented on #21
That column is part of the piwik built in plugins.
So if you properly installed/activated the GeoIP plugins it should work

[2016-04-18 06:20] falkh commented on #21
No it is not there, I already installed GeoIP PHP vers. and aktivated it but this column is not in the DB.
location_citty, location_country,location_ip, location_region are all there but not location_provider.

[2016-04-18 07:21] ThaDafinser commented on #21
@falkh you need the provider plugin for it, sorry.
Alternative: just remove the field from the config (every data field in the config is optional)
https://github.com/piwik/piwik/blob/25b2da923b2dbe999e4b716a37cfa4f804fa1770/plugins/Provider/Provider.php

[2016-04-18 08:18] falkh commented on #21
ah ok thank you now it is worken when I activated the Provider Plugin.

[2016-04-28 18:37] plegault3397 opened #22 "Local Connections not showing on real-time map"
I have a very large network, and I'm adding a lot of address blocks and not seeing any connections on the real-time map

Is there something else I need to do to get it to work other than activate it?
Under Geolocation I have GeoIP (PHP) Selected

I stopped seeing traffic altogether

[2016-04-29 09:07] ThaDafinser commented on #22
That sounds like a general error.

Can you check your error log?
http://piwik.org/faq/troubleshooting/faq_115/

[2016-04-29 11:26] plegault3397 commented on #22
I enabled the logging and I get an error log file does not exist
I create a log file and I do not get any errors

From: Martin Keckeis [mailto:notifications@github.com]
Sent: Friday, April 29, 2016 5:07 AM
To: ThaDafinser/Piwik-IntranetGeoIP
Cc: Legault, Phillip [GTSUS]; Author
Subject: Re: [ThaDafinser/Piwik-IntranetGeoIP] Local Connections not showing on real-time map (#22)

I stopped seeing tra

[2016-04-29 11:26] plegault3397 commented on #22
You are currently using Piwik 2.16.2-b1.

From: Martin Keckeis [mailto:notifications@github.com]
Sent: Friday, April 29, 2016 5:07 AM
To: ThaDafinser/Piwik-IntranetGeoIP
Cc: Legault, Phillip [GTSUS]; Author
Subject: Re: [ThaDafinser/Piwik-IntranetGeoIP] Local Connections not showing on real-time map (#22)

I stopped seeing traffic altogether

That sounds like a general error.

Can you check your e

[2016-05-11 08:47] candaj opened #23 "Intra and internet ip’s location"
Hello,

I've few sites monitoring by my piwik which can be visited by both internal and external users.
I managed to locate users IP's internally and externally with IntranetGeoIP for internal and GeoIP (Php) provided with MaxMind's databases for external ones.

My issue is about how to manage an external IP who match internal one.
Let's see : say that we have the 207.45.200.167 address located in

[2016-05-11 13:56] ThaDafinser commented on #23
I think i dont understand you correctly.

A public IP is a public IP? How can that IP be an internal address?

[2016-05-11 15:09] candaj commented on #23
Hello, Thanks for your answer @ThaDafinser .

Because my company (don't ask me why) doesn't have only private addresses (ie: 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16) but also public addresses spaces on private context.

[2016-05-11 17:48] ThaDafinser commented on #23
Sadly i dont know exactly how you can achieve that.

I think you need to trace down in Piwik Tracker...maybe you can change the priority somewhere (don't know if possible)

[2016-05-12 06:58] candaj commented on #23
Okay, thanks for your answer.
I will search for a solution and maybe make a pr if i find something

regards,

[2016-08-17 20:47] tsteur opened #24 "Update plugin.json required version"
Hi there,

I'm Thomas from Piwik. We recently made some changes on the Marketplace and changed how versions are defined. In your plugin.json it defines:

[code]

but in future updates it should include the `>=` and also include an upper version constraint:

[code]

Sorry for inconvenience and cheers

[2016-08-26 05:36] ThaDafinser commented on #24
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases/tag/v2.3.0

[2016-08-26 05:36] #24 closed

[2016-08-31 12:49] sgreiner opened #25 "Plugin Update not working"
Hi,

I have the following installation: Piwik 2.16.2 + IntranetGeoIP Version 2.1.3

In the Plugin-Admin-Page Piwik wants me to update from 2.1.3 => 2.2.0
After updating the Plugin, Piwik is Broken. I looked into the files (plugin.json) and now there is 1.0.2 installed.

If I download the 2.2.0 Plugin-Version from Github it wants me to update 2.2.0 => 2.2.0

If I go with the Web-Browser to: https:/

[2016-09-01 06:29] ThaDafinser commented on #25
@sgreiner i created a new tag with the proper version.

Can you try the update again?
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases

[2016-09-01 11:11] phoob opened #26 "Plugin broke"
Hello!

I got an upgrade notice a few days ago, and I think that broke the plugin. I see that IntranetGeoIp.php now references a function called "IP::isIpInRange", which doesn't exist in \Piwik\IP… Actually I think maybe the plugin hasn't been updated for a while – because until now I had the local IP definitions in config/IntranetGeoIP.data.php – and that worked until the plugin got updated just

[2016-09-01 13:10] sgreiner commented on #25
The Version is indeed fixed now in the plugin.json in your tag 2.3.1

But the Version I got from Piwik Marketplace is still 1.0.2
This Broke my installation again.

I downloaded the tag 2.3.1 from github now and installed it manually.
Piwik now wants me to update Plugin from version 2.3.1 => 2.3.1

So the Plugin from the Marketplace is still broken as before.

[2016-09-01 14:10] ThaDafinser commented on #25
okay we seem to be close to an solution...

I created now a new release without the "v" as prefix https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases/tag/2.3.1

Can you try the update a last time? If that works i will update my other plugins as well.

[2016-09-01 14:11] ThaDafinser commented on #25
There is also a newer tag with 2.3.2 to reflect the changes to the marketplace

[2016-09-01 14:12] ThaDafinser commented on #26
@phoob which piwik/php version you use and which IntranetGeoIp?

[2016-09-01 14:15] ThaDafinser commented on #26
Function is still here - but moved the namespace.

This module should work with the lastes 2.16 release.

 https://github.com/piwik/piwik/blob/77a6412ff7a8bdb2f23fb00a2d8ce22e7a35fcee/CHANGELOG.md#piwik-2120

https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/IntranetGeoIP.php#L8
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/IntranetGeoIP.php#L120

[2016-09-01 15:06] phoob commented on #26
Will check more later tonight.. but have you checked the package that is downloaded from the piwik marketplace.. that it is the correct version? Didnt look like the one in master here.. but maybe it was only a glitch?

On Thu, Sep 1, 2016 at 4:15 PM +0200, "Martin Keckeis" <notifications@github.com> wrote:

Function is still here - but moved the namespace.

This module should work with the lastes

[2016-09-01 18:14] phoob commented on #26
Nope… When updating the plugin, I get version 1.0.2...

[2016-09-02 05:52] ThaDafinser commented on #26
@phoob please tell me which PHP/Piwik version do you use.

[2016-09-02 05:58] phoob commented on #26
Piwik 2.16.2, mariadb 10.1.17

[2016-09-02 06:11] ThaDafinser commented on #26
@phoob i still need the PHP version :-)
Maybe this is the issue, that the newest update does not work

[2016-09-02 06:31] phoob commented on #26
Sorry, php7

[2016-09-02 06:54] ThaDafinser commented on #26
Okay - then all requirements for the latest version should be met :-/

I think this is the an old problem when i deleted this release here, but the marketplace keeps the version (there is no 1.0.2 on github anymore)
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases
http://plugins.piwik.org/IntranetGeoIP

@tsteur it seems that once you "f***ed" the versioning up you cannot clean the old c

[2016-09-02 07:33] tsteur commented on #26
@ThaDafinser As soon as a version is released the marketplace checks out that tag and creates a zip for it. It is indeed not possible to delete that version afterwards currently. The only way is to release a new version with a different version number. When I download the zip from the Marketplace it seems to show the latest version for 2.3.2. The ZIP seems to have the latest version as well. When

[2016-09-02 07:37] tsteur commented on #26
@phoob in the Piwik Admin as a super user can you click on "check for updates" and then have a look which version it shows for that plugin? cheers

[2016-09-02 08:40] phoob commented on #26
after having manually uploaded the latest release that I downloaded from GitHub, and doing what you say, it says version 2.3.2. I also tried re-installing the plugin from the admin, and now that seems to work as well. But I do get some weird upgrade notices, like this:

![skjermbilde 2016-09-02 kl 10 33 59](https://cloud.githubusercontent.com/assets/1475800/18197820/8fab43ca-70f9-11e6-943f-6011abc

[2016-09-02 08:44] phoob commented on #26
I checked which versions of PerformanceInfo I actually had installed, and it is v0.2.1. Both before and after the update..

[2016-09-02 09:23] ThaDafinser commented on #26
@phoob this is another plugin.
I want to make sure this plugin works correctly now with the versions/tags i created. After that i create new releases there.

[2016-09-04 05:09] tsteur commented on #26
@phoob re the other plugin this might be actually a bug on the Marketplace. I'll have a look at this tmrw. Cheers

[2016-09-04 22:56] tsteur commented on #26
I know it is a bit off topic here but do you mind clicking on "check for updates" again the admin and then check if it still offers you to update 0.2.2 => 0.2.2 @phoob

[2016-09-13 12:30] ThaDafinser commented on #26
@phoob did it work? If yes, i can change the other plugins as well...

[2016-09-13 13:29] phoob commented on #26
Hello! The plugin works now, the only thing was that the file with custom ip ranges I had created was deleted... Luckily I had a backup :) Also, the nagging about outdated plugins which aren't really outdated has gone away for now.

[2016-09-13 14:12] ThaDafinser commented on #26
The plugin itself do remove it, if you remove the plugin (proper cleanup)
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/IntranetGeoIP.php#L79-L87

Then i will create now new releases for the other plugins. Thank you!

[2016-09-13 14:12] #26 closed

[2016-10-13 15:40] pfleckenbw commented on #21
Maybe it would be an idea writing down this point in the documentation of the IntranetGeoIP.data.php

[2016-10-14 09:14] ThaDafinser commented on #21
@pfleckenbw good idea. Can you write a PR for it? The file is this one https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/data.example.php

[2016-12-20 00:37] leandropc opened #28 "Piwik 3"
Hi, are you planning to make this plugin compatible with Piwik 3? I updated too soon :(

regards

[2016-12-20 07:12] ThaDafinser commented on #28
@leandropc currently not planned. But i will get into when 1 or 2 bugfix releases are out.

[2016-12-20 15:07] tehnotronic commented on #28
+1

I also updated to 3.0.0 and saw that now I am missing this useful plugin

[2016-12-20 15:27] ThaDafinser commented on #28
Have someone tried it out "by hand"?

I think this plugin won't need many changes (maybe even none)

[2016-12-20 15:37] leandropc commented on #28
@ThaDafinser how do I do that?

[2016-12-20 15:57] tehnotronic commented on #28
Do you mean maybe just playing with the required version number?

https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/plugin.json#L13

Yes, we can probably do that and see if there are any errors.

[2016-12-20 19:16] leandropc commented on #28
I make the change in the plugin.json file and I still getting

`    "piwik": ">=2.15.0,>3.0.0",`

IntranetGeoIP requiere Piwik <3.0.0-b1.

[2016-12-20 21:47] tehnotronic commented on #28
Sadly, this is not so simple after all. I managed to change the version requirement and activate the plugin by this manual: http://developer.piwik.org/guides/migrate-piwik-2-to-3
But it doesn't display subnetwork information, because in [changelog](https://github.com/piwik/piwik/blob/3.x-dev/CHANGELOG.md) we can see that _**Tracker.newVisitorInformation**_ is deprecated and now we should use _dime

[2016-12-21 08:18] younessadmi commented on #28
+1

I updated to 3.0.0 too soon :(

[2016-12-21 10:14] ThaDafinser commented on #28
Please try out https://github.com/ThaDafinser/Piwik-IntranetGeoIP/pull/29

[2016-12-21 10:47] tehnotronic commented on #28
#29 is not working for me. As I said previously, the **Tracker.newVisitorInformation** is now deprecated, I managed to get this working with **Live.getAllVisitorDetails**, but this only works for live tab and there must be extra handling for archive data. I guess the most similar plugin with the live and archive functionality might be:
https://github.com/piwik/piwik/tree/3.x-dev/plugins/Provider

[2016-12-21 10:57] tehnotronic commented on #28
My modifications in IntranetGeoIP.php are as follows (works only for Live data):

`

    public function registerEvents(){
        return array('Live.getAllVisitorDetails' => 'extendVisitorDetails');
    }

    public function extendVisitorDetails(&$visitor, $details)
    {
        if (! file_exists($this->getDataFilePath())) {
            Log::error('Plugin IntranetGeoIP does not work. File is mi

[2016-12-21 11:05] ThaDafinser commented on #28
@tehnotronic i've missread it sry.

Then it seems that we have a **major problem** here...because this plugin is using **existing columns** and i can't find an event in the list to hook in https://developer.piwik.org/api-reference/events

It could be solved with **Dimensions** but this adds new columns, so all the built in reports wont work anymore... https://developer.piwik.org/guides/dimensions

[2016-12-21 18:02] tsteur commented on #28
It should be possible to overwrite how built-in / existing columns work or what data they track. If you want to overwrite eg "log_visit. countryCode" you can create a visit dimension with the column name "countryCode".  There would be no column type defined as it should re-use an existing column from the DB.

[2016-12-22 06:31] ThaDafinser commented on #28
Thanks a lot - i will give it a try :+1:

[2016-12-29 16:44] RainardSmith opened #30 "Location not recognized"
Hi Martin,
really thanks for you great job!
Could you please check my IntranetGeoIP.data.php ? http://pastebin.com/sjycHv0a
I'm not able to get it fully works and maybe there's something wrong in my php.

Really thanks!

[2016-12-29 21:26] ThaDafinser commented on #30
Do you got an example IP? Maybe the IP range does not match?

[2017-01-03 11:13] RainardSmith commented on #30
Hi Martin,
thanks for you reply, I've found the issue but I don't know how to resolve it...
It seems that when I add more then one location into my IntranetGeoIP.data.php no more visit are tracked, no matter which is the location. So maybe I'm typing something wrong into the file?
Currently using Piwik 2.15 with IntranetGeoIP 2.2.0
Thanks!

[2017-01-03 11:19] ThaDafinser commented on #30
@RainardSmith  it's really difficult to debug this way.

Does your example IP match your IP range?

This is an example config file working in my case (you need to replace ... and the IP range)
[code]

[2017-01-03 11:29] RainardSmith commented on #30
@ThaDafinser
Yes the IPs match the specified range but everything works only if I keep just one block into my ...data.php.
Could you please give an example of a file with at least two blocks? (I mean, locations)
Thank you.

[2017-01-03 12:51] ThaDafinser commented on #30
[code]

[code]

[2017-01-03 14:23] RainardSmith commented on #30
@ThaDafinser Thank you Martin! I was missing the comma at the block line end! The strange thing is that due to this, piwik was stopping to log every visit on all the sites :-(
Let me clarify what was wrong:

[code]

[2017-01-03 14:25] ThaDafinser commented on #30
@RainardSmith sure piwik stops then - its a PHP error then.

Good that you found it

[2017-01-03 14:25] #30 closed

[2017-01-09 15:14] Fensterbank commented on #28
Any news on this?
I updated Piwik already without checking the issues here und your plugin is the major plugin to get the country of internal app users connected via VPN. :(

[2017-01-09 15:35] ThaDafinser commented on #28
Need to update the PR today...have prepared it local

[2017-01-09 17:27] ThaDafinser commented on #28
Please CAREFULLY try out https://github.com/ThaDafinser/Piwik-IntranetGeoIP/pull/29/files

[2017-01-09 18:34] Fensterbank commented on #28
Thanks!
I will try it tomorrow in our environment and give you feedback asap.

[2017-01-10 08:27] Fensterbank commented on #28
@ThaDafinser At which point are the new files under `/Columns` used?
They aren't referenced in any way in the `IntranetGeoIP.php`.

Do I have to place the folder Columns under the plugin directory `/plugins/IntranetGeoIP/Columns`?
I don't understand yet, how or when the new files are used.

[2017-01-10 12:06] ThaDafinser commented on #28
@Fensterbank take this link https://github.com/ThaDafinser/Piwik-IntranetGeoIP/tree/feature/piwik3

And download the ZIP and install it to `plugins/IntranetGeoIP`

[2017-01-10 14:01] Fensterbank commented on #28
Yes, but my question is still there: The code of the `Columns` files **is not used or referenced at any point** in the plugin code.
How does piwik knows, that there is a folder `Columns` with additonal files?

Anyway, I installed your branch code in my installation but had no success.
Visits are tracked, but still no location information.

[2017-01-10 20:33] tsteur commented on #28
They are picked up by Piwik automatically. It's a convention in Piwik... and it will automatically pick up all columns placed within that folder when a plugin is enabled

[2017-01-13 08:34] Fensterbank commented on #28
Okay, thanks @tsteur for the response.

After three days in test it's confirmed the version in the current `piwik 3` branch does not work.
Because of this and the broken user API of Piwik 3 we downgraded back to 2.17.1.
Thanks for trying to solve this so fast @ThaDafinser. I will watch it and hope for further updates. 👍

[2017-01-13 08:56] ThaDafinser commented on #28
I'm waiting for https://github.com/piwik/piwik/issues/6324 to be resolved in piwik `3.0.1` or later for the next update, like mentioned here https://github.com/ThaDafinser/Piwik-LdapVisitorInfo/issues/8#issuecomment-271797606

[2017-03-07 08:50] ThaDafinser commented on #28
After a while i could get back to this (sorry for the long delay).

I could get it working on a fresh installation, when i remove the column (delete the following file completely) and activate it after that https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/feature/piwik3/Columns/OverwriteProvider.php

The problem is `VisitDimension` itself:
It does only create missing columns, if you copy th

[2017-03-07 12:49] ThaDafinser commented on #28
Those 3 ***plugins should work now with all with `piwik 3`*** :tada:

I tried them all local on a fresh installation successfull now, so please test them carefully and provide me some feedback!

# Installation
Download the ZIP from GitHub and install it by hand, see https://piwik.org/faq/plugins/faq_21/

## LdapVisitorInfo (requires both plugins)
https://github.com/ThaDafinser/Piwik-LdapVisitorInf

[2017-03-08 11:22] Fensterbank commented on #28
I just tried **IntranetGeoIp** in our environment and can confirm the plugin works great again! 🥇
Thank you very much for your work!

[2017-03-08 12:33] ThaDafinser commented on #28
Just released the package - should be soon available over the marketplace!

[2017-03-08 12:33] #28 closed

[2017-03-08 12:34] ThaDafinser commented on #25
Just released the package for piwik3- should be soon available over the marketplace!

[2017-03-08 12:34] #25 closed

[2017-03-13 10:59] thomykay commented on #28
Works great! Thanks for making it work again with Piwik 3.

[2017-03-13 14:45] phoob opened #31 "commenting out "nomatch" not working?"
Hello!

According to the README.md, it is possible to comment out the nomatch-block in IntranetGeoIP.data.php, and making this plugin skip handling unmatched IPs (and letting GeoIP) handle those instead. However, that doesn't seem to be working? (using Piwik 3.0.2 and IntranetGeoIP 3.0.0). Am I doing something wrong..?

[2017-03-13 15:10] ThaDafinser commented on #31
It should work. Maybe the config file itself is broken? (Syntax?)
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/master/IntranetGeoIP.php#L128-L133

[2017-03-13 15:30] phoob commented on #31
Hmmm.. didn't quite understand... the known ips that are matched in the file work. It is just that the unmatched ips all get "unknown" locations instead of defaulting to geoip..

[2017-03-14 07:06] ThaDafinser commented on #31
@phoob can you post your configuration file (with anonymized data if needed).

Guessing what the error could be is hard :wink:

[2017-03-14 07:13] phoob commented on #31
Sorry, can't send you the file, but here is an example (I haven't changed the file since it worked previously, with the last version of the plugin on Piwik 2.x.x):

`<?php
return [
    [
        'visitorInfo' => [
            'location_country' => 'no',
            'location_region' => '12',
            'location_city' => 'Oslo',
            'location_latitude' => '51.234567',
            'locatio

[2017-03-14 07:23] phoob commented on #31
I'm treading water here, but it would seem logical to me that the function should return $userInfo at the end instead of [] (if there is no no match-block)...?

[2017-03-14 07:26] phoob commented on #31
Just FYI: I'm using the plugin on a multisite Piwik installation, which tracks both our company intranet and internet websites.

[2017-03-14 09:58] ThaDafinser commented on #31
What you think i can do with such limited information?
I'm waiting now for all informations and a real config used now (anonymized).

[2017-03-15 06:44] phoob commented on #31
Ok!

[code]

[2017-03-15 07:22] ThaDafinser commented on #31
@phoob your config seems to be correct. Also the plugin should be ok.

Maybe the issue is the other GeoIP provider? https://github.com/piwik/piwik/search?utf8=%E2%9C%93&q=unknown+path%3Aplugins%2FUserCountry&type=Code

Did you tried disable this plugin, before reporting?

[2017-03-15 10:03] phoob commented on #31
Yes, I have tried disabling and reenabling intranetgeoip – when disabled, The GeoIP databases are used (I'm using the PECL extension).

[2017-03-19 11:51] phoob commented on #31
See above – after I implemented that one change, your plugin is working like clockwork again :)

[2017-03-20 06:38] ThaDafinser commented on #31
Thank you.
Fixed in https://github.com/ThaDafinser/Piwik-IntranetGeoIP/releases/tag/v3.0.1

[2017-03-20 06:38] #31 closed

[2017-03-27 09:29] peterbo opened #33 "Question about requirements (PHP7)"
Hi @ThaDafinser, I can remember a discussion why it was necessary to raise the requirements of the plugin to PHP7 (something about different variable/pointer handling I guess). Now I'm struggling with an instance running PHP5.6 and Piwik3, unable yet to upgrade to PHP7. Therefore I would like to backport the Plugin for the instance to work on PHP5.6, if possible. Could you please point me to the d

[2017-03-27 10:21] ThaDafinser commented on #33
@peterbo AFAIK i didn't used php7 features in the plugin, so you should be able to download the zip and change the requirements - it should still work.

More informations you can find here
https://github.com/ThaDafinser/Piwik-LdapVisitorInfo/issues/10#issuecomment-286109983

[2017-03-27 10:32] peterbo commented on #33
Hi @ThaDafinser, thanks for the info and the fast response. It would be nice if plugins would be mostly in line with the requirements of Piwik itself, because it is near impossible to check the requirements of every single plugin before updating many instances. Requirements should only be raised if it's really needed by basic plugin functionality. No rant, just my 50 cents!

Nevertheless, thank yo

[2017-03-27 10:32] #33 closed

[2017-03-28 11:28] peterbo opened #34 "Not possible to extend visitorInfo anymore (e.g. custom_var_k*)"
After the 3.0 update of the plugin, it is not possible anymore to extend visitorInfo with additional data like custom variables (custom_var_*), since data is now modified selectively ("Columns").

[2017-03-28 11:33] ThaDafinser commented on #34
Sadly yes. Need to update this readme section.
Other possible solution would be to add all fields, which is a bit an overkill :thinking:

[2017-03-28 11:40] peterbo commented on #34
I think reasonable triggers would be:
- (visit) Custom Dimensions
- (visit) Custom Variables
- trigger a goal

Therefore it wouldn't be necessary to be able to extend / modify any existent field and we would just need to implement 3 exceptions. This would provide reasonable flexibility. This could be accomplished via a RequestProcessor for example.

[2017-03-28 13:39] peterbo commented on #34
Small PoC:

`namespace Piwik\Plugins\IntranetGeoIP\Tracker;

use Piwik\Network\IPUtils;
use Piwik\Plugins\IntranetGeoIP\IntranetGeoIP;
use Piwik\Tracker\Request;
use Piwik\Tracker\RequestProcessor;
use Piwik\Tracker\Visit\VisitProperties;

/**
 * Class IntranetGeoIPRequestProcessor
 * @package Piwik\Plugins\IntranetGeoIP\Tracker
 */
class IntranetGeoIPRequestProcessor extends RequestProcessor
{

[2017-03-28 14:27] ThaDafinser commented on #34
In general this LGTM.
If this is possible, we can do this for all Columns, so it works again like in the good old 2.3 https://github.com/ThaDafinser/Piwik-IntranetGeoIP/blob/v2.3.0/IntranetGeoIP.php

I haven't found this in the piwik dev docs, so my base was this plugin https://github.com/piwik/piwik/blob/3.x-dev/plugins/DevicesDetection/Columns/BrowserName.php#L42

[2017-04-12 06:10] #34 closed

[2017-10-31 07:11] lazmo88 opened #36 "Custom variables"
Hi there @ThaDafinser, I am wondering if it is possible to use custom variable instead of IP to update the geolocation lat/lon with this matter plugin?

Let's say I am setting a custom variable "location" => "Home" via JS tracking api. Would it be possible to define lat/lon for "Home" instead of IP range?

It's a weird setup, but would save my day 😂

[2017-11-22 19:20] GDesclaux opened #37 "Piwik Integrity failed"
Hi,

After installation and activation of IntranetGeoIP plugins, piwik integrity check fails.

Piwik suggests to remove the IntranetGeoIP.data.php :

   rm "/usr/share/nginx/piwik/config/IntranetGeoIP.data.php"

[2017-12-04 15:08] ThaDafinser commented on #36
Probably not.
But if the IP is not important, you could overwrite the IP send from JS to a generic one and then you can match again with an IP range.

[2018-03-21 14:48] jgkirschbaum commented on #37
See also https://github.com/matomo-org/matomo/issues/12544

[2018-03-21 22:14] sgiehl commented on #37
This can be solved by adding a `config/config.php` to the plugin like
[code]

[2018-06-27 14:15] plegault2 opened #39 "Only one location showing up"
I followed the layout like below.

[code]
I only get the first location in NJ

[2018-07-11 19:11] plegault2 opened #40 "Is there a maximum number of subnets?"
I have one site that has like 100 subnets, Piwik stopped recording data when I added it.
Or is there a maximum file size?

[2018-07-12 10:21] plegault2 commented on #40
Sorry my mistake there was a typo

[2018-07-12 10:21] #40 closed, assigned to nobody

[2018-07-12 10:21] plegault2 commented on #39
I was able to fix it

[2018-07-12 10:21] #39 closed, assigned to nobody

[2018-07-12 10:22] plegault2 commented on #22
After revisiting this I was bale to fix it

[2018-07-12 10:24] #22 closed

[2019-08-12 09:29] nanand1806 opened #42 "Intranet Geo IP plugin does not track correctly"
Hello,
I am using matomo(version: 3.11.0) for intranet website on premises on VM running with OS Windows server 2012 R2.
My question is regarding geo loctaion tracking and for this purpose i am using plugin called “Intranet Geo IP”
But still I could see most of the visitors logs are unknown. I have also configured IntranetGeoIP.data.php with our networks IP. Could you please help me to get the vis

[2019-12-23 15:39] plegault3397 opened #43 "Under Matomo location we are seeing duplicate data under countries"
Matomo 3.13.0
We are seeing duplicate entries for several countries under visitors->locations->countries. When looking into it, I noticed that 1 page visit record is showing up under both  country entries.

Any help would be greatly appreciated.
Thanks.

[2020-03-05 09:33] wolf404 commented on #42
as stated in the readme: the region codes are stored in piwik/libs/MaxMindGeoIp/geoipregionvars.php - you have to figure out by yourself which location is in which region and insert the code manually.
If your IP subnets are not assigned to individual locations you are stuck somehow....

For a proper map display you need location_country, location_region and the lat/lon values, location_city naming

[2020-09-01 16:37] Findus23 opened #44 "Make plugin compatible with Matomo 4"
Hi, hope you are doing well!

Matomo 4 is progressing steadily and it would be great if this plugin was also [available for it](https://matomo4-plugins.lw1.at/).

[Migrating the plugin](https://matomo.org/blog/2020/08/matomo4-make-your-plugin-compatible-now/) should be pretty simple as there were not many breaking changes.

You can find the migration guide here: https://developer.matomo.org/guides

[2021-01-15 01:00] bbodenmiller commented on #44
@ThaDafinser any chance this will be updated to support Matomo 4?

[2021-01-15 12:46] Findus23 commented on #44
At least according to https://github.com/herveh35/Piwik-IntranetGeoIP/commit/ae9b535961b096796bb208b0e9190cf268cdd568 it seems like just changing the supported version range should be enough to get it to work in Matomo 4.

A reminder for everyone reading this: This plugin is licensed under the MIT license, so everyone is free to fork it and take up maintaining it as long as they follow the license

[2021-03-24 15:51] tunetheweb commented on #44
Can confirm manually applying https://github.com/herveh35/Piwik-IntranetGeoIP/commit/ae9b535961b096796bb208b0e9190cf268cdd568 allowed me to activate the plugin and it seems to be working fine under 4.2.1.

[2021-04-21 17:56] plegault3397 opened #45 "IntranetGeoIP (v3.0.1) not working in Matomo 4.2.1"
Matomo 4.2.1
PHP Version 7.3.18
I updated as suggested
https://github.com/ThaDafinser/Piwik-IntranetGeoIP/issues/44

This allowed me to enable it, however it stopped all site tracking and I had to disable it.

[2021-04-21 18:18] plegault3397 commented on #44
I tried and everything stopped working, not recording site visits for any of the sites being monitored. I needed to disable it

[2021-04-21 18:42] plegault3397 commented on #44
OK My bad,
I looked again and it seems to be working . Maybe there was something else going with another issue I was having